html {
  font-family: "Rubik";
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}
* {
  --neutral-color-white: hsl(0, 0%, 100%);
  --neutral-light-grayish: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}
.hidden {
  display: none;
}
@media screen and (max-width: 1023px) {
  body {
    font-size: 12px;
  }
  .card-front,
  .card-back,
  .card-front img,
  .card-back img {
    width: 20rem;
  }
  .card-front-info-user :last-child {
    left: 8rem !important;
  }
  .card-front-info-des {
    margin-top: 0 !important;
  }
  .card-logo img {
    width: 3rem;
  }
  .cards {
    left: 4rem !important;
  }
  .card-back {
    left: 5rem !important;
  }
  .img-card-front,
  .img-card-back {
    width: 100% !important;
  }
  .card-back.card-password {
    right: 25% !important;
  }
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  .left_section {
    width: 100% !important;
    min-height: 30vh !important;
    background-image: url("./images/bg-main-mobile.png") !important;
    background-size: cover;
  }
  .cards {
    position: relative;
    flex-direction: column-reverse !important;
    top: 2% !important;
    left: 5% !important;
  }
  .card-back {
    position: relative !important;
    top: 0 !important;
    left: 4rem !important;
  }
  .card-back .card-password {
    top: 34%;
    right: 15%;
  }
  .card-front {
    margin-left: 0 !important;
    position: relative;
    top: -2rem !important;
    z-index: 1;
  }
  .card-front-info {
    margin-top: -0.5rem;
    top: 3rem !important;
    left: 2rem !important;
  }
  .card-back,
  .card-front,
  .card-back img,
  .card-front img {
    width: 15rem;
  }

  .card-logo img {
    width: 3rem;
    margin-top: -1rem !important;
    margin-left: -1rem;
    margin-bottom: 1.8rem;
  }

  .card-front-info-des {
    margin-top: -2.5rem !important;
    margin-left: -1.1rem;
  }

  .right_section {
    margin: 8rem auto !important;
  }
}

.container {
  display: flex;
  height: 100vh;
}
.left_section {
  background-image: url("./images/bg-main-desktop.png");
  background-repeat: no-repeat;
  width: 30%;
}
.container__form {
  position: absolute;
}

.cards {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 50%;
  top: 8rem;
  left: 8rem;
}
.img-card-front,
.img-card-back {
  width: 25rem;
}
.card-front {
  margin-left: -5rem;
  font-weight: 400;
  color: var(--neutral-color-white);
}
.card-front-info {
  position: absolute;
  top: 1rem;
  left: -3rem;
}
.card-front-num {
  font-weight: 400;
}
.card-back {
  margin-top: 1rem;
  /* position: absolute;
  left: 13rem;
  top: 40%; */
}
.card-back p {
  position: absolute;
  top: 70%;
  right: 43%;
  color: var(--neutral-color-white);
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.right_section {
  display: grid;
  grid-template-columns: repeat(1, 20rem);
  margin: 10rem auto;
  width: 20rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  z-index: 1;
}
.right_section label {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.right_section label input {
  font-size: 1rem;
  border: 1px solid var(--neutral-light-grayish);
  border-radius: 0.4rem;
  background-color: var(--neutral-color-white);
  padding: 0.5rem 0.2rem 0.5rem 0.5rem;
  margin: 0.5rem 0 1rem 0;
}
.right_section label input:focus {
  outline-color: hsl(249, 99%, 64%);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::placeholder {
  color: var(--neutral-light-grayish);
}
.info__data {
  display: flex;
  justify-content: space-between;
  width: 20rem;
}
.info_data_1 {
  width: 10rem;
  display: flex;
  flex-direction: row;
}
.info_data_2 {
  width: 10rem;
  margin-right: 0.7rem;
}
#card_cvc {
  width: 100%;
}
#card_month,
#card_year {
  width: 30%;
}
.card-front-info-des {
  margin-top: 3rem;
}
.card-front-info-user {
  display: flex;
  justify-content: space-between;
}

.card-data :first-child {
  margin-right: 0.5rem;
}
#btn_confirm {
  height: 3rem;
  border: 1px solid var(--neutral-light-grayish);
  border-radius: 0.4rem;
  background-color: var(--very-dark-violet);
  color: var(--neutral-color-white);
  font-size: 1rem;
  cursor: pointer;
}
.error-msg {
  color: red;
  text-transform: lowercase;
  margin-top: -0.5rem;
  margin-bottom: 1.3rem;
  display: none;
}
.thank {
  display: none;
  text-align: center;
  margin: auto auto;
  z-index: 2;
}
.thank h1 {
  text-transform: uppercase;
}
.thank p {
  color: var(--dark-grayish-violet);
  font-size: 14px;
  letter-spacing: 1px;
}
.thank button {
  height: 3rem;
  padding: 0 6rem;
  border: 1px solid var(--neutral-light-grayish);
  border-radius: 0.4rem;
  background-color: var(--very-dark-violet);
  color: var(--neutral-color-white);
  font-size: 1rem;
  cursor: pointer;
}
